{{- define "main" }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := .RegularPages }}
{{- $paginator := .Paginate $pages }}

{{- range $paginator.Pages }}
<article class="post-entry post-entry--compact">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>

  {{- $term := .Params.term }}
  {{- $aud := .Params.audience }}
  {{- if or $term $aud }}
  <div class="entry-content">
    <p>
      {{- if $term }}{{ $term }}{{ end -}}
      {{- if and $term $aud }}&nbsp;•&nbsp;{{ end -}}
      {{- if $aud }}{{ $aud }}{{ end -}}
    </p>
  </div>
  {{- end }}

  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">«&nbsp;{{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }}&nbsp;»</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}


